.custom-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.heading {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popularity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
@media (max-width: 950px) {
  .popularity {
    grid-template-columns: 1fr;
  }
}

.card-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600) {
  .card-container {
    width: 500;
  }
}

@media (min-width: 768px) {
  .card-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .card-container {
    width: 970px;
  }
}

@media (min-width: 1250px) {
  .card-container {
    width: 1200px;
  }
}

.popularity-item {
  display: block;
  max-width: 700px;
  min-width: 400px;
  margin: auto;
}
