.custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 600px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .custom-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.heading {
  margin-bottom: 30px;
  text-align: center;
}

.popularity {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
@media (max-width: 950px) {
  .popularity {
    grid-template-columns: 1fr;
  }
}

.card-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600) {
  .card-container {
    width: 500;
  }
}

@media (min-width: 768px) {
  .card-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .card-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .card-container {
    width: 1170px;
  }
}