.seats {
  width: 50%;
  float: left;
}

.screen {
  width: 350px;
  background-color: #e4e4e4;
  color: #898989;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3px 0;
  text-align: center;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 5%;
}

.screen:hover {
  cursor: default;
}

.seat {
  background: #ff0000;
  width: 3.84615%;
  max-width: 27px;
  max-height: 27px;
  min-width: 22px;
  min-width: 22px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 1px;
  margin-right: 10px;
}

.seat:hover {
  background: #323a69;
  color: #f0fff0;
  cursor: pointer;
}

.row-name {
  position: relative;
  max-width: 25px;
  max-height: 25px;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  color: rgb(43, 43, 54);
  font-weight: 700;
  overflow: hidden;
}

.seats-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.room{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}